set nu
set ff=unix
color desert
syn on

nmap <silent> <C-g> :!ctags -R --c++-kinds=+p --fields=+iaS --extra=+q .<CR>
set completeopt-=preview
set foldmethod=syntax
set tags=tags,TAGS,./TAGS,.git/tags,../.git/tags
