[alias]
	co = checkout
	br = branch
	sup = submodule update --init --recursive
	tree = log --graph --full-history --all --color --oneline --decorate=full
	ctags = !.git/hooks/ctags
[include]
	path = .gitconfig.local
[init]
	templatedir = {{ ansible_env.HOME}}/.git_template/
[diff]
	algorithm = histogram

